function Main.main 5
push constant 3
call Vint.new 1
pop local 0
push constant 3
call Vint.new 1
pop local 1
push local 0
push constant 0
push constant 5
call Vint.set 3
pop temp 0
push local 0
push constant 1
push constant 8
call Vint.set 3
pop temp 0
push local 0
push constant 2
push constant 12
call Vint.set 3
pop temp 0
push local 0
push constant 3
push constant 15
call Vint.set 3
pop temp 0
push local 0
push constant 4
push constant 20
call Vint.set 3
pop temp 0
push local 0
push constant 5
push constant 25
call Vint.set 3
pop temp 0
push local 0
push constant 6
push constant 30
call Vint.set 3
pop temp 0
push local 0
push constant 7
push constant 35
call Vint.set 3
pop temp 0
push local 1
push constant 0
push constant 35
call Vint.set 3
pop temp 0
push local 1
push constant 1
push constant 25
call Vint.set 3
pop temp 0
push local 1
push constant 2
push constant 15
call Vint.set 3
pop temp 0
push local 1
push constant 3
push constant 30
call Vint.set 3
pop temp 0
push local 1
push constant 4
push constant 5
call Vint.set 3
pop temp 0
push local 1
push constant 5
push constant 8
call Vint.set 3
pop temp 0
push local 1
push constant 6
push constant 12
call Vint.set 3
pop temp 0
push local 1
push constant 7
push constant 20
call Vint.set 3
pop temp 0
push local 0
call Vint.len 1
pop local 2
push local 1
call Vint.len 1
pop local 3
push local 2
call Output.printInt 1
pop temp 0
push local 3
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push local 1
call Vint.elems 2
pop local 4
push local 4
call Output.printInt 1
pop temp 0
push local 0
call Vint.Dispose 1
pop temp 0
push local 1
call Vint.Dispose 1
pop temp 0
push constant 0
return
