function Vint.len 1
push argument 0
pop pointer 0
push this 1
pop local 0
push local 0
return
function Vint.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop this 1
goto IF_END0
label IF_FALSE0
push constant 2
push argument 0
call Vint.pow 2
pop this 1
label IF_END0
push this 1
call Array.new 1
pop this 0
push pointer 0
return
function Vint.set 2
push argument 0
pop pointer 0
label WHILE_EXP0
push argument 1
push this 1
gt
push argument 1
push this 1
eq
or
not
if-goto WHILE_END0
push this 1
push constant 2
call Math.multiply 2
call Array.new 1
pop local 0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 1
lt
not
if-goto WHILE_END1
push local 1
push local 0
add
push local 1
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push this 0
call Array.dispose 1
pop temp 0
push this 1
push constant 2
call Math.multiply 2
call Array.new 1
pop this 0
push constant 0
pop local 1
push this 1
push constant 2
call Math.multiply 2
pop this 1
label WHILE_EXP2
push local 1
push this 1
lt
not
if-goto WHILE_END2
push local 1
push this 0
add
push local 1
push local 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push local 0
call Array.dispose 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push argument 1
push this 0
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Vint.get 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
return
function Vint.resize 5
push argument 0
pop pointer 0
push argument 1
push constant 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push this 0
call Array.dispose 1
pop temp 0
push constant 1
call Array.new 1
pop this 0
push constant 0
push this 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop this 1
push constant 0
return
label IF_FALSE0
push constant 2
push argument 1
call Vint.pow 2
pop local 2
push local 2
push this 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 2
call Array.new 1
pop local 0
push constant 0
pop local 3
push local 2
push this 1
call Vint.min 2
pop local 4
label WHILE_EXP0
push local 3
push local 4
lt
not
if-goto WHILE_END0
push local 3
push local 0
add
push local 3
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push this 0
call Array.dispose 1
pop temp 0
push local 2
call Array.new 1
pop this 0
push constant 0
pop local 3
label WHILE_EXP1
push local 3
push local 2
lt
not
if-goto WHILE_END1
push local 3
push this 0
add
push local 3
push local 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP1
label WHILE_END1
push local 0
call Array.dispose 1
pop temp 0
push local 2
pop this 1
push constant 0
return
function Vint.print 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Vint.Dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Vint.is_eq 3
push argument 0
call Vint.len 1
pop local 1
push argument 1
call Vint.len 1
pop local 2
push local 1
push local 2
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push argument 0
push local 0
call Vint.get 2
push argument 1
push local 0
call Vint.get 2
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
return
function Vint.swap 1
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push argument 1
push this 0
add
push argument 2
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 2
push this 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Vint.elems 4
push constant 0
pop local 0
push constant 0
pop local 1
push argument 0
call Vint.len 1
pop local 2
push argument 1
call Vint.len 1
pop local 3
push local 2
push local 3
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
label WHILE_EXP0
push local 0
push local 2
lt
not
if-goto WHILE_END0
push local 0
push constant 1
add
pop local 1
label WHILE_EXP1
push local 1
push local 2
lt
not
if-goto WHILE_END1
push argument 0
push local 0
call Vint.get 2
push argument 0
push local 1
call Vint.get 2
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
push local 0
push local 1
call Vint.swap 3
pop temp 0
label IF_FALSE1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP2
push local 0
push local 3
lt
not
if-goto WHILE_END2
push local 0
push constant 1
add
pop local 1
label WHILE_EXP3
push local 1
push local 3
lt
not
if-goto WHILE_END3
push argument 1
push local 0
call Vint.get 2
push argument 1
push local 1
call Vint.get 2
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push local 0
push local 1
call Vint.swap 3
pop temp 0
label IF_FALSE2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP3
label WHILE_END3
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 0
label WHILE_EXP4
push local 0
push local 2
lt
not
if-goto WHILE_END4
push argument 0
push local 0
call Vint.get 2
push argument 1
push local 0
call Vint.get 2
eq
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP4
label WHILE_END4
push constant 0
not
return
function Vint.pow 2
push constant 0
pop local 0
push constant 1
pop local 1
label WHILE_EXP0
push local 0
push argument 1
lt
not
if-goto WHILE_END0
push local 1
push argument 0
call Math.multiply 2
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
return
function Vint.min 0
push argument 0
push argument 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
return
goto IF_END0
label IF_FALSE0
push argument 1
return
label IF_END0
