push static 0
push static 1
call DivMod.div 2
pop static 2

push static 0
push static 1
call DivMod.mod 2
pop static 3

label END
goto END

function DivMod.div 4	
    push argument 0
    pop local 0
    
    push argument 1
    pop local 1
    
    push argument 0
    pop local 3

label DIV_LOOP
    push local 3
    push local 1
    lt
    not
    not
    if-goto DIV_END
    
    push local 2
    push constant 1
    add
    pop local 2
    
    push local 3
    push local 1
    sub
    pop local 30
    
    goto DIV_LOOP

label DIV_END
    pop local 2
    return

function DivMod.mod 2
    push argument 0
    pop local 0
    
    push argument 1
    pop local 1

label MOD_LOOP
    push local 1
    push local 0
    lt
    not
    if-goto MOD_END
    
    push local 0
    push local 1
    sub
    pop local 0
    
    goto MOD_LOOP

label MOD_END
    push local 0
    return